// Here you can add other styles
// body.ReactModal__Body--open {
//     overflow: hidden;
//     position: relative;

//     #root {
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         filter: blur(2px);
//     }
// }